name: Run Procursus

on:
  workflow_dispatch:
    inputs:
      command:
        description: "Args to pass to make (ex. nano-package MEMO_TARGET=iphoneos-arm64-rootless MEMO_CFVER=1800)"
        required: true

jobs:
  run:
    runs-on: macos-12

    steps:
      - name: Checkout Procursus
        uses: actions/checkout@v3
        with:
          repository: ProcursusTeam/Procursus

      - name: Set up Procursus
        uses: beerpiss/procursus-action@v1
        with:
          packages: clang odcctools autoconf automake autopoint bash bison cmake curl docbook-xml docbook-xsl fakeroot findutils flex gawk git gnupg groff gzip ldid libtool make ncurses-bin openssl patch pkg-config po4a python3 sed tar triehash xz-utils zstd
          cache: true
          mirror: 'https://procursus.itsnebula.net/'

      - name: Run script
        run: |
          gmake ${{ github.event.inputs.command }}

      - name: Get info
        id: information
        run: |
          if [ -d "build_base" ]; then
              echo "::set-output name=build-base-exists::true"
          else
              echo "::set-output name=build-base-exists::false"
          fi

          if [ -d "build_dist" ]; then
              echo "::set-output name=build-dist-exists::true"
          else
              echo "::set-output name=build-dist-exists::false"
          fi

      - name: Upload build_base
        if: steps.information.outputs.build-base-exists == 'true'
        uses: actions/upload-artifact@v3
        with:
          name: build_base
          path: build_base/*

      - name: Upload build_dist
        if: steps.information.outputs.build-dist-exists == 'true'
        uses: actions/upload-artifact@v3
        with:
          name: build_dist
          path: build_dist/*
